
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0; /* você vai zerando tudo para tirar aquele branco*/
    padding: 0;
    box-sizing: border-box;

}

header {
height: 81px;
background: #1E1C21;
    
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%; 
    /*100% pq vai ter 100% da altura do pai dele*/
} /* isso aqui serve para o menu inicial*/

/*.menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
}*/

.menu {
    justify-content: space-between ;
    display: flex;
    width: 727px;
    height: 23.8px;
    left: 1051px;
    top: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    height: 630px;
    background-image: url(../img/Rectangle\ 2background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.posicionamento-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}

.conteudo-banner {
    display: flex;
    flex-direction: column;
    color: white;
    width: 585px;
    height: 300px;
    align-items: center;/*aqui ele fica fechadinho*/
    justify-content: space-between;


    
}

.conteudo-banner a {
    color: white;
    background-color: #c31616;
    padding: 15px;
    font-family: "Roboto";
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;

}

.conteudo-banner h1 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
}

.conteudo-banner p {
    font-family: "Roboto";
    font-size: 36px;
}

.menu2 {
    height: 168px;
    background-color: #1E1C21;
    
}

.posicionamento-grid{
   width: 1200px;
   margin: auto;

}

.posicionamento-grid a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48;
    width: 486px;
    height: 74px;
    left: 77px;
    top: 738px;
    
}

